body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 520px;
  margin: 50px auto;
  /* text-align: center; */
  background-color: #000000;
  padding: 30px;
  border-radius: 30px;
}
.card,
.wlc,
.phone-number {
  text-align: center;
  background-color: #1a1925;
  padding: 30px;
  border-radius: 16px;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  color: #76768d;
}
img {
  width: 100%;
}
input {
  box-sizing: border-box;

  width: 100%;
  padding: 8px;
  border: 5px solid#9F75FE;
  background-color: #1a1925;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
}
.btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border: 5px solid#9F75FE;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #9f75fe;
}
/*------------- Welcome card -------------------*/

.icon {
  width: 10%;
}
li {
  list-style-type: none;
}
.welcome-btn1,
.new,
.existing {
  text-align: left;
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: #242434;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border-radius: 10px;
}
.welcome-btn2 {
  text-align: left;
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: #1a1925;
  color: #fff;
  font-size: 16px;
}

/* ------Phone Number CSS identical to Welcome card------- */
